@import '../../../styles/mixins';
.component-ShowCvBtn{
  .ShowCvBtn-Btn{
    display: block;
    background-color: var(--first-color);
    height: 38px;
    line-height: 38px;
    font-size: 12px;
    padding: 0 10px;
    margin-right: 28px;
    color: var(--main-color);
  }
}
