*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--background-main-color);
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-weight: var(--regular-font-weight);
  color: var(--main-color);
  text-align: left;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 1430px;
}

a {
  color: var(--main-color);
  text-decoration: none;
  transition: var(--transition);
  letter-spacing: 0.7px;

  &:hover {
    text-decoration: none;
    color: var(--first-color);
  }
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  list-style-type: none;
}

input {
  border: none;
}

button {
  border: none;
  cursor: pointer;
}
