:root {
  // colors
  --background-main-color: #222224;
  --main-color: white;
  --first-color: #e02735;
  // fonts
  --base-font-family: Arial, Helvetica, sans-serif;
  --base-font-size: 16px;
  --base-font-weight: 400;
  --base-line-height: 1.7;
}