@import './../styles/mixins';

main.view-ErrorView {
  @include flex(column, center, center);
  height: 100vh;

  img {
    width: 200px;
  }

  a {
    font-size: var(--xs-font-size);
    color: var(--input-text-color);
    margin: 20px 0;

    &:hover {
      color: var(--first-color);
    }
  }
}
