@import '../../../styles/mixins';

div.component-AboutUserShortCut {
  @include flex(column, flex-start, center);
  padding: 17px 14px;
  height: 110px;
  background-color: var(--raiting-acordion-background-color);
  flex-wrap: nowrap;

  h3 {
    margin-bottom: 18px;
    font-size: var(--xs-font-size);
    font-weight: var(--regular-font-weight);
  }
  p {
    font-size: var(--s-font-size);

    span {
      font-weight: var(--bold-font-weight);
    }
  }
}
