@import '../../../styles/mixins';

div.component-RatingOnCv {
  @include flex(column, start, space-around);
  width: 15%;
    p {
      font-size: var(--s-font-size);
      color: var(--rate-text-color);
      span.rating {
        color: var(--main-color);
        font-size: var(--md-font-size);
        font-weight: var(--bold-font-weight);
      }
      span.slash{
        font-size: var(--md-font-size);
      }
    }


  .rating-and-stars {
    @include flex(row, center, space-around);
    padding-top: 20px;

    .stars-wrap {
      @include flex(row, start, space-around);
      vertical-align: middle;
      margin-left: 10px;
      font-size: 1.3em;

      .stars{
        vertical-align: middle;
        margin-right: 5px;
        color: var(--first-color);

        .star-red {
          color: var(--first-color);
        }
        .star-gray {
          color: var(--icon-raiting-color);
        }
      }
    }
  }
}

div.component-RatingOnCv:last-child {
  margin-right: 15%;
}